<p>
  <span id="stateName">{{timer.stateName}}</span>
  <br />
  <span>Task {{timer.taskCount}} of {{settingsService.settings.targetIntervals}} state: {{timer.state}}</span>
  <br />
  <span id="timer">{{timer.formatted(timer.timeLeft)}}</span>
  <br />
  <Button id="startTimer" *ngIf="!timer.timerRunning" (click)="timerStart()">
    <mat-icon class="icon" id="playBtn">play_circle_filled</mat-icon>
  </Button>
  <Button id="stopTimer" *ngIf="timer.timerRunning" (click)="timerPause()">
    <mat-icon class="icon" id="pauseBtn">pause</mat-icon>
  </Button>
  <br />
  <button id="playAudio" (click)="alarm.play()">Play alarm</button>
  <br />
  Timer running?: {{timer.timerRunning}}
  <br />
  Timer running test: {{timer.timerRunning === true}}
  <br />
</p>
