p {
  width: 100%;
  text-align: center;
}

.filler {
  flex: 1 1 auto;
}

mat-icon {
  cursor: pointer;
  text-align: center;
}

/*  fixes toolbar link visited color not being white in electron */
mat-toolbar > span > a {
  color: white;
}

a {
  text-decoration-line: none;
}

a:visited {
  color: white;
}
